<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Project CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">

</head>
<body>
    <div class="container mt-3">
      <nav class="navbar white navbar-expand-md" style="background-color: #e7f1ff;">
        <div class="container-fluid">
          <h3><a href="{% url 'categories_list' %}" class="nav-brand"><img src="{% static 'logo.png' %}" class="logo"></a></h3>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories_list' %}">
                    <button type="button" class="btn btn-success">Все курсы</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button type="button" class="btn btn-success">Контакты</button>
                </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container mt-3">
        <h3 class="content-header">{{ title }}</h3>
        <hr>

        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>