{% extends "education/base.html" %}

{% block content %}

    Куратор: <strong><a href="#">{{ course.responsible.user.username }}</a></strong>
    <p>{{ course.description|safe }}</p>

    <div class="accordion" id="accordionLesson">
        {% for lesson in course.lessons.all %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{lesson.id}}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{lesson.id}}" aria-expanded="true" aria-controls="collapse{{lesson.id}}">
                Занятие {{ forloop.counter }}: {{ lesson.title }}
              </button>
            </h2>
            <div id="collapse{{lesson.id}}" class="accordion-collapse collapse show" aria-labelledby="heading{{lesson.id}}" data-bs-parent="#accordionLesson">
              <div class="accordion-body">
                <p><small>Тэги:
                    {% for tag in lesson.tags.all %}
                        <a href="#">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small></p>
                <p><small>Преподаватель: <strong><a href="#">{{ lesson.mentor.user.username }}</a></strong></small></p>
                <p>{{ lesson.description }}</p>

                <a href="#" class="btn btn-outline-dark mt-3">Ссылка на занятие</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

    <a href="{% url 'course_update' course.id %}" class="btn btn-outline-dark mt-3">Обновить курс</a>
    <a href="{% url 'categories_list' %}" class="btn btn-outline-dark mt-3">Назад к курсам</a>
{% endblock %}